//------------------------------------------------
// basic styles
//------------------------------------------------
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
img {
  width: auto;
  max-width: 100%;
  height: auto !important; 
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper:after,
.row:after {
      content: "";
      display: table;
      clear: both; 
      }
      [class*='column-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px; 
    }
html, body, section {
  height: 100%;
  margin: 0 auto;
}
body {
  font-family: 'Merriweather', serif;
  // background-color: #ededed;
  color: #212121;
  line-height: 1.618;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Arial, sans-serif;
	color: #aeaeae;
}
br.clear { clear: both; }
.container {
  padding: 1.618rem;
}

//------------------------------------------------
// Two Grids
//------------------------------------------------


/* If you want the content centered horizontally and vertically */
.centered {
  // text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 15%;
  padding: 20px;
}
//-------------------------------------------------
//
//-------------------------------------------------
.columns {
  max-width: 900px;
}
.grid {
  display: flex; /* or inline-flex */
}

/////////////////////////////////////

$article-layout-grid: (
  columns: 1,
  gutter: 2rem,
);

$article-layout-grid--tablet-up: (
  columns: 5,
  gutter: 2rem,
  media: "(min-width: 768px)",
);

.article-layout {
  @include grid-container;
}

.article_hero {
  @include grid-column(1, $article-layout-grid);
  margin-bottom: 2rem;
}

.article_sidebar {
  @include grid-column(1, $article-layout-grid);
  margin-bottom: 2rem;

  @include grid-media($article-layout-grid--tablet-up) {
    @include grid-column(2);
  }
}

.article_main {
  @include grid-column(1, $article-layout-grid);

  @include grid-media($article-layout-grid--tablet-up) {
    @include grid-column(3);
  }
}

