//------------------------------------------------
// basic styles
//------------------------------------------------
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, section {
  height: 100%;
  margin: 0 auto;
}
body {
  font-family: 'Merriweather', serif;
  // background-color: #ededed;
  color: #212121;
  line-height: 1.618;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Arial, sans-serif;
	color: #aeaeae;
}
br.clear { clear: both; }
.container {
  padding: 1.618rem;
}

//------------------------------------------------
// Two Grids
//------------------------------------------------


/* If you want the content centered horizontally and vertically */
.centered {
  // text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 15%;
  padding: 20px;
}
//-------------------------------------------------
//
//-------------------------------------------------
.columns {
  max-width: 900px;
}
.grid {
  display: flex; /* or inline-flex */
}

/////////////////////////////////////

