

//------------------------------------------------------------------------
// Story
//------------------------------------------------------------------------

.article_page{
  display: flex;
  flex-direction: column;
  .article-layout {
  background: var(--clr-white);
  padding: 20px;
  justify-content: center;
display: grid;
 p{font-size: 1.5em;}
}
}
.stories {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 5rem;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  .stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: start; */
  }
}
.story {
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 1rem 2rem;
}

.title {
  line-height: 1.5;
  margin-bottom: 0.25rem;
}
.info {
  margin-bottom: 0.5rem;
  color: var(--clr-grey-5);
}

.read-link {
  font-size: 0.85rem;
  margin-right: 0.75rem;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}

table {
  border: 1px solid #dee2e6;
  padding: 20px;
  
}


code {
 
  font-size: inherit;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  background: #ffeff0;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}
pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}