// main content index page

.main-container {
  display: flex;
  flex-direction: row;
  gap: $gap;
  color: white;

  // for mobile
  @include query(tablet) {
    flex-direction: column;
  }

  // centered text
  [class^='block-'] {
    // for animation
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: baseline;

    // border : 1px solid $color;
    border: solid rgba(255, 255, 255, 0.3) 1px;
    background: transparent;
    transition: all 1s;
    //Setting height of each block
    height: 100vh -$padding * 2;

    // Style Rules for Mobile Display
    @include query(mobile) {
      height: 70vh -$padding * 2;
    }
  }

  .block-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    padding: 1rem;
  }
  // this is class is center image (logo)
  .image-center {
    img {  border-block-color: black;
  background-color: azure;
  border: solid 2px #5988f7;
  border-radius: 1em;
}
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }

  .block-2 {
    display: flex;
    // justify-content: space-around;
    flex-direction: column;
    flex-grow: 5;
    padding: 1rem;
  }
  .item {
    // working on this ?
    order: 5;
    align-content: stretch;
  }
  .links {
    display: inline-flex;
    h4 {
      padding: 1rem;
    }
    // for mobile
    @include query(mobile) {
      h4 {
        padding: 5px;
        font-size: 1em;
      }
    }
  }
} // end of main container

// this for testing animation
