 // The default $neat-grid variable, is a map which powers Neat's mixins.
$neat-grid: (
  columns: 12,
  gutter: 20px,
  direction: ltr,
);

$my-desktop-grid: (
  columns: 12,
  gutter: 32px,
  media: 1200px,
);

$my-mobile-grid: (
  columns: 6,
  gutter: 24px,
  media: 768px,
);

 // An example custom grid:

 $custom-grid: (
   columns: 12,
   gutter: 20px,
 );

 // Now pass this "grid" into any of the Neat 2.0 mixins: 

 // @include grid-column(2, $custom-grid);




 