// https://medium.com/backticks-tildes/building-a-responsive-image-gallery-e0fe5acc8be5
// http://www.jeremyholmesstudio.com/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
 margin: 5px;
 transition: all 2s;
}
img:hover {
 transform: scale (1.1);
}