<% wrap_layout :layout do %>
<main role="main">
	<div class="container">
		<div class="article_page">
			<article>
				<%= yield %>
			</article>
		</div>
	</div>
	<hr>
	<div class="container">
		<%= link_to 'back', '/blog.html', :relative => true %> 
		<%= link_to 'Home', '/index.html', :relative => true %>
	</div>
</main>
<% end %>




     
        
        
  
 
     
    