
<% wrap_layout :layout do %>
	<div class="container-center container-wrapper">
		
		<div class="btn">
			 <span>
		 	<%= link_to 'back to posts', '/blog.html', :relative => true %>
		</span>
		</div>
		<br>
		<br>
		<div class="article_page">
			<article class="article-layout">
				<%= yield %>
			</article>
		</div>
	</div>
<% end %>




     
        
        
  
 
     
    