---
title: home | gallery
---


<div class="container-center">

	<div class="container-wrapper">
		<div class="title">
			<h1>GALLERY</h1>
			<div class="underline"></div>
			<br>
			<span>
				<%= link_to 'back home', '/index.html', :relative => true, :class => 'btn' %> 
			</span>
		</div> 
	</div>
	
	<div class="gallery">

		<section class="images-row">
			<% data.gallery.each do |f| %>
			<figure class="images-column">
		
					<%= image_tag f.image, :class => 'hover-shadow' %>
		
				<figcaption>
					<p><%= link_to f.title, "#{f.title.parameterize}.html", :class => "btn"%></p>
				</figcaption>
			</figure>
			<% end %>
		</section>

	</div>