---
title: art | kikluz.com
---

<div class="container">
	this is my art page
</div>
<blockquote class="blog_links">
	<%= link_to 'Home', '/index.html', :relative => true %> |
	<a href="#">Posts</a> |
	<a href="#">Projects</a> |
</blockquote> 