---
title: Art | kikluz.com
---

<div class="container">

	<div class="section_gallery">
		<h1>EXPLORE ART! </h1>
		<div class="grid">

			<div class="item item--large">
				<div class="item__details">
					Wizard
				</div>
			</div>
			<div class="item item--large">
				<div class="item__details">
					city guy
				</div>
			</div>

			<div class="item item--medium">
				<div class="item__details">
					runaway
				</div>
			</div>

			<div class="item item--large">
				<div class="item__details">
					hitman
				</div>
			</div>

			<div class="item item--full">
				<div class="item__details">
					nightmare
				</div>
			</div>
			
			<div class="item item--large">
				<div class="item__details">
					soul ripper
				</div>
			</div>

			<div class="item item--medium">
				<div class="item__details">
					torso
				</div>
			</div>

			<div class="item item--large">
				<div class="item__details">
					troll
				</div>
			</div>

			<div class="item item--large">
				<div class="item__details">
					dragon face
				</div>
			</div>

			<div class="item item--medium">
				<div class="item__details">
					the fighter
				</div>
			</div>
			<div class="item item--medium">
				<div class="item__details">
					zombie
				</div>
			</div>
			<div class="item item--large">
				<div class="item__details">
					king from the future
				</div>
			</div>
			<div class="item item--large">
				<div class="item__details">
					skull
				</div>
			</div>
			<div class="item item--large">
				<div class="item__details">
					santa
				</div>
			</div>

		</div>
	</div>
</div>

<blockquote class="blog_links">
	<%= link_to 'Home', '/index.html', :relative => true %> |
	<%= link_to 'Post', '/blog.html', :relative => true %> |
	<%= link_to 'Projects', '/projects.html', :relative => true %> |
</blockquote> 