---
title: Blog | kikluz.com
---
<!--  -->
<div class="container-center container-wrapper">
	<h1>LATEST</h1>
	<div class="underline"></div>



	<section class="stories">
		<% blog.articles[0...5].each do |article| %>
		<article class="story">

			<h4 class="title">
				<%= link_to article.title, article.path, :relative => true %>
			</h4>
			<p class="info">date: <span><time><%= article.date.strftime('%b %e %Y') %></time></span></p>
			<p class="info"><%= article.summary(50) %></p>
			<div>
				<%= link_to "Read more", article.url, :relative => true %>
			</div>

		</article>
		<% end %>
	</section>	
</div>





