---
title: Home | kikluz.com
---

<!-- 
    <div class="container-center">
    <section class="block-1 item">
      <div>
        <%= image_tag 'kikluzlogo_ink.svg' %>
        <h1>Welcome!</h1>
        <p>My name is Enrique a.k.a. <em>Kikluz</em></p> 
        <p>
          I created this website to share my passions of art, design, and web development.
        </p>
        <p>
          I hope you check out my art page. If you like it, follow on social media!
        </p> 
      </div>
    </secti>

    <aside class="block-2 item">
      <div>
        <h2>Notes</h2>
        <p>
          It is hard to keep all the stuff I've learned in my mind so I decided to make
          a few notes to remember some techniques and keep learning!!
        </p> 
        <p>hello title</p>
        <p>Hello, I have a responsive border that uses outline. Resize your window to see it working.</p>
      </div>   
    </aside>
    </div>
 -->


 <div class="container-center">

  <div class="main-container">
    <div class="block-1">
      <div>
         <%= image_tag 'kikluzlogo_ink.svg' %>
        <h3>Welcome!</h3>
        <blockquote>
        <p>
          Hello, my name is Enrique a.k.a "Kikluz" and I create Websites!
          <br>
          I like to share my passion for Art and Design. As a web developer,
          currently I am learning <a href="#" title="react">Reactjs</a>.
          Check out my art and follow me on social media!
        </p> 
        </blockquote>

      </div>
    </div>
    <div class="block-2">
       <blockquote>
        <p>
          I decided to create this site for logging my progress as a developer
          and documenting all the stuff that I've been learning over the last couple years.
          
        </p> 
        </blockquote>
      <section class="links">
        <h4>blog</h4>
        <h4>projects</h4>
        <h4>art</h4>
        <h4>pics</h4>
      </section>

      <section class="links social-links">
        <h4><a href="#">youtube</a></h4>
        <h4><a href="#">instagram</a></h4>
        <h4><a href="#">github</a></h4>
        <h4><a href="#">deviantArt</a></h4>
      </section>

       <section class="links contact-links">
        <h4>contact me</h4>
      </section>
    </div>
  </div>
