---
title: Home | kikluz.com
---

<div class="container">

  <div class="container-wrapper">
    <section class="section-info outter-line">
      <div>
        <%= image_tag 'kikluzlogo_ink.svg' %>
        <h1>Welcome!</h1>
        <p>My name is Enrique a.k.a. <em>Kikluz</em></p> 
        <p>
          I created this website to share my passions of art, design, and web development.
        </p>
        <p>
          I hope you check out my art page. If you like it, follow on social media!
        </p>
      </div>
    </section> 

    <aside class="aside-info outter-line">
      <div>

        <h2>Notes</h2>
        <p>
          It is hard to keep all the stuff I've learned in my mind so I decided to make
          a few notes to remember some techniques and keep learning!!
        </p> 
        <p>hello title</p>


        <p>Hello, I have a responsive border that uses outline. Resize your window to see it working.</p>
      </div>
    </aside>
  </div> <!-- end of wrapper-container -->

</div> <!-- end of container -->

