---
title: Kikluz's Blog
---
<div class="container">

  <div class="grid">

    <div class="column_left columns">
      <div class="centered">
        <%= image_tag 'hitman_logo.jpg' %>
        <h2>Welcome!</h2>
        <p>My name is Enrique A.K.A ( <em>kikluz</em>)</p>
        <p>
          I created this website to share my passions of art, design and web development 
          using all the tools in modern web develomenet.
        </p>

        <p class="social-links">
          
          <a><i class="fab fa-facebook-square"></i></a>
          
          <a><i class="fab fa-youtube-square"></i></a>
         
          <a><i class="fab fa-github-square"></i></a>
          
          <a><i class="fab fa-instagram"></i></a> 
        </p>
      </div>
      </div>

    <div class="column_right columns">
      <div class="centered">
        <h2>Remembers!</h2>
        <p>
          It is hard to keep it in my mind so I decided to make
         a few notes to remember some technics and keep learning!!
        </p> 
        <blockquote class="blog_links">
          <%= link_to 'Notes', '/blog.html', :relative => true %> |
          <a href="#">Art</a> |
        </blockquote> 
        
      </div> <!-- end of centered -->
    </div>
  </div><!-- end of grid -->

</div><!-- end of container -->

