---
title: Kikluz's Blog
---
<div class="container">

  <div class="grid">

    <div class="column_left columns">
      <div class="centered">
        <%= image_tag 'kikluz_logo.png' %>
        <h2>Welcome!</h2>
        <p>My name is Enrique a.k.a. <em>Kikluz</em></p> 
        <p>
          I created this website to share my passions of art, design, and web development.
        </p>
        <p>
          I hope you check out my art page. If you like it, follow on social media!
        </p>
        
      </div>
      </div>

    <div class="column_right columns">
      <div class="centered">
        <h2>Notes</h2>
        <p>
          It is hard to keep all the stuff I've learned in my mind so I decided to make
          a few notes to remember some techniques and keep learning!!
        </p> 


        <blockquote class="blog_links">
          <%= link_to 'Posts', '/blog.html', :relative => true %> |
          <%= link_to 'Art', '/art.html', :relative => true %> |
          <%= link_to 'Projects', '/projects.html', :relative => true %> 
        </blockquote> 
        
      </div> <!-- end of centered -->
    </div>
  </div><!-- end of grid -->

</div><!-- end of container -->

