---
title: home | projects
---
<div class="container-center">
	<div class="container-wrapper">
		<div class="title">
			<h1>PROJECTS</h1>
			<div class="underline"></div>
			<br>
			<span>
				<%= link_to 'back home', '/index.html', :relative => true, :class => 'btn' %> 
			</span>
		</div> 
	</div>
</div>

