---
title: home | projects
---
<div class="container-center">
	<div class="container-wrapper">
		<div class="title">
			<h1>PROJECTS</h1>
			<div class="underline"></div>
			<br>
			<span>
				<%= link_to 'back home', '/index.html', :relative => true, :class => 'btn' %> 
			</span>
		</div> 
	</div>

	<div class="projects">
		
		<section class="projects-info">
			<h1>this is a title</h1>
			<%= image_tag 'appliances.png', :class => 'hover-shadow'%>
		</section>
		<aside class="projects-image">
			<h1>this is a title</h1>
			<p><%= lorem.sentences 5 %></p>
		</aside>
	</div>
</div>

