---
title: home | projects
---
<div class="container-center">
	<div class="container-wrapper">
		<div class="title">
			<h1>PROJECTS</h1>
			<div class="underline"></div>
			<br>
			<span>
				<%= link_to 'back home', '/index.html', :relative => true, :class => 'btn' %> 
			</span>
		</div> 
	</div>

	<div class="projects">
		<section class="projects-image">
			<% link_to 'http://www.hedgeappliance.com/', :target => "_blank" do %>
				<%= image_tag 'appliances.png', :class => 'hover-shadow'%>
			<% end %>
		</section>
		<aside class="projects-info">
			<h1>hedge Appliance</h1>
			<p>
				I made a website for a local small business. So they can have online presence
			</p>
		</aside>
	</div>

	<div class="projects">
		<section class="projects-image">
			<% link_to 'http://www.fusion510.com/', :target => "_blank" do %>
			<%= image_tag 'fusion510.png', :class => 'hover-shadow'%>
			<% end %>
		</section>
		<aside class="projects-image">
			<h1>fusion510</h1>
			<p>

				Created this site to help a young musician to have present 
				online and available to reach people around the world

			</p>
		</aside>
	</div>

</div>

<br>
<br>