---
title: Projects | kikluz.com
---

<div class="container">
	<div class="rojects_main">
		<h1>COMING SOON!</h1>
	</div>
<hr>
<blockquote class="blog_links">
	<%= link_to 'Home', '/index.html', :relative => true %> |
	<%= link_to 'Post', '/blog.html', :relative => true %> |
	<%= link_to 'Art', '/art.html', :relative => true %> |
</blockquote> 
</div>