---
title: Projects | kikluz.com
---

<div class="container">
	<div class="rojects_main">
		This is my projects page
	</div>
<hr>
	<blockquote class="blog_links">
		<%= link_to 'Home', '/index.html', :relative => true %> |

		<a href="#">Post</a> |
		<a href="#">Art</a> |
	</blockquote> 
</div>