---
title: Projects | kikluz.com
---

<div class="container">
	This is my projects page
</div>
<blockquote class="blog_links">
	<%= link_to 'Home', '/index.html', :relative => true %> |

	<a href="#">Art</a> |
</blockquote> 